<h1>Hello World</h1>
  <div>
      <button type="submit" id="logout">Logout</button>
  </div>
{{#if gifts.length}}
<section>
  <h2>Your Gifts</h2>
  <ol>
    {{#each gifts as |gift|}}
    <li>
      <ol>{{gift.recipient}} {{gift.gift_name}} {{gift.occasion}}</ol>
    </li>
    {{/each}}
  </ol>
  {{else}}
  <h3>You do not have any gifts saved!</h3>
</section>
{{/if}}
<form class="create-gift-form">
  <div>
    <label for="recipient">Recipient:</label>
    <input type="text" id="recipient" />
  </div>
  <div>
    <label for="gift-name">Gift Name:</label>
    <input type="text" id="gift-name" />
  </div>
  <div>
    <label for="occasion">Occasion:</label>
    <input type="text" id="occasion" />
  </div>
  <div>
    <button type="submit" id="gift-submit">Add Gift</button>
  </div>
</form>
<script src="/javascript/add-gift.js"></script>