<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="login-submit">login</button>
  </div>
  <div>
      <label for="signup-redirect">Not a member?</label>
      <button type="submit" id="signup-redirect">Sign up!</button>
  </div>
</form>
<script src="/javascript/login.js"></script>