<form class="signup-form">
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="email-signup-confirm">Please confirm your email:</label>
    <input type="text" id="email-signup-confirm" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="password-signup-confirm">Please confirm your password:</label>
    <input type="password" id="password-signup-confirm" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>