body {
    background-color: #e0f2f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav, .page-footer {
    background-color:#00796b;
}

.btn {
    background-color:#004d40;
}

label {
    color:black;
}

button {
    background-color:#004d40;
    color: lightgrey;
    text-align: center;
}